<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Certificate Generator</h1>
    <p class="text-muted mb-4 custom-subtitle">
      Fill out the form below to generate a new certificate
    </p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">New Certificate</h2>
    <div class="mb-3 custom-input-group">
      <label [ngClass]="{'text-danger-label': invalidField(nameRef)}" for="name" class="form-label">Name</label>
      <input
        [(ngModel)]="certificate.name"
        #nameRef="ngModel"
        name="name"
        maxlength="150"
        required
        id="name"
        class="custom-input"
        type="text"
        class="form-control"
        placeholder="Student name"
      />
      @if (invalidField(nameRef)) {
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="mb-0">Name is required</p>
      </div>
      }
    </div>

    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label for="activity" class="form-label">Activity</label>
        <input
          [(ngModel)]="activity"
          #activityRef="ngModel"
          name="activity"
          maxlength="50"
          required
          id="activity"
          class="custom-input"
          type="text"
          class="form-control"
          placeholder="Activity made"
        />
      </div>
      <app-secondary-button
      (click)="addActivity()" [disabled]="activity.length === 0" textButton="Add Activity" phClass="ph ph-plus"></app-secondary-button>
    </div>

    <div class="activities-group">
      <label class="form-label">Activities List</label>
      <div class="item-list w-100">
        @for (activity of certificate.activities; track $index) {
        <div class="item">
          <span class="item-text">{{ activity }}</span>
          <div (click)="removeActivity($index)" class="remove-button">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        @if ($index < certificate.activities.length - 1) {
        <hr />
        } }
      </div>
    </div>

    <app-primary-button (click)="submit()" [disabled]="!validForm()" textButton="Generate Certificate"></app-primary-button>
  </div>
</form>
